body {
    background-color: #e7e7e7;
    font-family: 'Ubuntu', sans-serif;
}

.calculator-container {

    width: 45vh;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
	background-color: #ffffff;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    border-radius: 30px;
}

.display-value-container{
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
}

.display {
    padding-right: 3%;
    color: #22262e;
    font-size: 50px;
    letter-spacing: 5px;
    justify-self: end;
}


.all-button-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 1 / 5;
    grid-row: 3 / 10;
    border-radius: 30px;
    background-color: #f9f9f9;
}


.buttons {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    width: 70%;
    height: 75%;
    color: #22262e;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}

.buttons:hover {
    background-color: #f9f9f9;
}

#clear {
    grid-column: 1 / 3;
}

#delete {
    grid-column: 3 / 5;
}

#clear {
    color: #e26363;
}

#delete {
    color: #e26363;
}

#clear:hover {
    background-color: #e263630a;
}

#delete:hover {
    background-color: #e263630a;
}

.operator {
    color: #2ac4a9;
}

.operator:hover {
    background-color: #2ac4a807;
}